<a href="https://colab.research.google.com/github/azz2k/vendor_challenge/blob/main/vendor_challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction
* To make my life easier I will remove everything but [a-zA-Z0-9] and whitespaces
* For now I will use a bag-of-words approach as I have limited time

# libraries, constants, etc.

In [16]:
from google.colab import drive

import pandas as pd
import numpy as np
import sklearn.model_selection

import seaborn as sns
from matplotlib import pyplot as plt

import nltk

This should later be put into: requirements installations (in separate requirements file)

# read data

In [2]:
# mount google drive
drive.mount("/content/drive")

Mounted at /content/drive

In [9]:
products_raw_df = pd.read_parquet("/content/drive/MyDrive/Data Science/products.parquet.gz")
products_raw_df

        product_id  ...  order_count
0                0  ...          116
1                1  ...           30
2                2  ...           25
3                3  ...           45
4                4  ...           24
...            ...  ...          ...
633143      633143  ...           22
633144      633144  ...           22
633145      633145  ...           22
633146      633146  ...           22
633147      633147  ...           22

[633148 rows x 6 columns]

# data cleanup

## train test split

In [11]:
# sample data for testing
products_sample_df = products_raw_df.copy() #sample(20000)

In [19]:
# train test split
products_sample_train_df, products_sample_test_df = sklearn.model_selection.train_test_split(products_sample_df, test_size=0.2)

## data normalization

In [10]:
# use these keys to normalize
primary_keys = ["product_id", "vendor_id", "vendor_geohash"]

In [12]:
# split into a more normalized form
products_df = products_sample_train_df[primary_keys + ["order_count"]].copy()
products_name_df = products_sample_train_df[primary_keys + ["product_name"]].copy().rename({"product_name": "text"}, axis=1)
products_description_df = products_sample_train_df[primary_keys + ["product_description"]].copy().rename({"product_description": "text"}, axis=1)